@model IEnumerable<YourNamespace.Models.Insuree>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Quote</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.EmailAddress</td>
            <td>@item.Quote</td>
        </tr>
    }
    </tbody>
</table>
